        body {
            font-family: Arial, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            background-color: #f4f4f4;
            background: url(./KYq4Npqw.png) no-repeat center center fixed;
        }
        .container {
            text-align: left;
            margin-top: 200px;
            background: white;
            padding: 25px;
            border-radius: 3px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        input {
            margin: 10px;
            padding: 10px;
            width: 200px;
        }
        .result {
            margin-top: 15px;
        }
        button{
            padding: 10px 15px;
            background-color: #28a745;
            color: white;
            border: none;
            border-radius: 3px;
            cursor: pointer;
        }
        button:hover {
            background-color: #2ace4d;
            transition: .5s all ease-in-out;
        }